<h1>Business Cases</h1>

<% unless @business_cases.empty? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Client validation</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @business_cases.each do |business_case| %>
        <tr>
          <td><%= link_to business_case.title, business_case %></td></td>
          <td><%= business_case.client_validation_status %></td>
          
          <td><%= link_to 'Edit', edit_business_case_path(business_case) %></td>
          <td><%= link_to 'Destroy', business_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Nouveau Business Case', new_business_case_path %>

  <br>

<% else %>
  <p>Vous n'avez encore aucun business case de créé !</p>
  <p>Afin de créer un nouveau business case, veuillez cliquer sur : <%= link_to 'Créer', new_business_case_path %></p>
<% end%>
