
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="container register-form">
  <div class="form">
    <div class="note">
      <p>Veuillez entrer vos identifiants</p>
    </div>

    <div class="form-content">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: 'Email', value: '' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: 'Mot de passe', value: '' %>
          </div>
        </div>
      </div>
      <%= f.submit "Valider", class: 'btnSubmit' %>
    </div>
  </div>
</div>
<% end %>
